{% load static %}
{% load i18n %}
<div class="search-popup">
    <!-- close button -->
    <button type="button" class="btn-close" aria-label="Close"></button>
    <!-- content -->
    <div class="search-content">
        <div class="text-center">
            <h3 class="mb-4 mt-0">{% trans "Press ESC to close" %}</h3>
        </div>
        <!-- form -->
        <form action="{% url 'article:search' %}" class="d-flex search-form">
            <input name="search" class="form-control me-2" type="search" placeholder="{% trans "Search and press enter ..." %}"
                aria-label="Search">
            <button class="btn btn-default btn-lg" type="submit"><i class="icon-magnifier"></i></button>
        </form>
        
    </div>
</div>

<!-- canvas menu -->
<div class="canvas-menu d-flex align-items-end flex-column">
    <!-- close button -->
    <button type="button" class="btn-close" aria-label="Close"></button>

    <!-- logo -->
    <div class="logo">
        <img src="{% static 'images/logo.svg' %}" alt="Katen" />
    </div>

    <!-- menu -->
    <nav>
        <ul class="vertical-menu">
            <li class="active"><a href="{% url 'article:index' %}">{% trans "Home" %}</a></li>
            <li>
                <a href="index.html">{% trans "Category" %}</a>
                <ul class="submenu">
                    {% for category in categories %}
                    <li><a href="{% url 'article:category' %}?category={{category.name}}">{{category.name}}</a></li>

                    {% endfor %}                    
                </ul>
            </li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
            {% else %}
                <li><a href="{% url 'register' %}">{% trans "Register" %}</a></li>
                <li><a href="{% url 'loging' %}">{% trans "Login" %}</a></li>
            {% endif %}
            <li><a href="contact.html">{% trans "Contact" %}</a></li>
        </ul>
    </nav>

    <!-- social icons -->
    <ul class="social-icons list-unstyled list-inline mb-0 mt-auto w-100">
        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-medium"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
    </ul>
</div>