{% extends 'base.html' %}
{% block title %}{% trans "My Articles" %}{% endblock title %}


{% block content %}
<section class="page-header">
    <div class="container-xl">
        <div class="text-center">
            <h1 class="mt-0 mb-2">{{request.user}}</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="#">{% trans "Home" %}</a></li>
                    
                </ol>
            </nav>
        </div>
    </div>
</section>
<section class="main-content">
    <div class="container-xl">

        <div class="row gy-4">

{% include './parts/mine_list.html' %}
{% include './parts/sidebar.html' %}
        </div>
    </div>
</section>
{% endblock content %}